/*Base*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #dae8e7;
  --main-color: #00abf0;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*Heading*/
.heading {
  font-size: 5rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
  text-align: center;
}

.heading span {
  color: var(--main-color);
}
/*End Base*/

/*Header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 10%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  font-size: 4rem;
  color: var(--text-color);
  font-weight: 525;
}

.navbar a {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 450;
  margin-left: 5rem;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.menu {
  display: flex;
}

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 3rem;
  user-select: none;
  transition: 0.5s;
}

/*Responsive for medium and small devices */
@media (max-width: 991px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    height: auto;
    transform: translateX(-85%);
    padding: 2rem 0;
    background: rgba(19, 36, 46, 0.4);
    border-radius: 1rem;
  }

  .menu li {
    margin-bottom: 1.5rem;
    margin-left: -5rem;
    text-align: right;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  input[type="checkbox"]:checked ~ .hamburger {
    color: var(--main-color);
  }
}
/*End Header*/

/*Home*/
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  color: var(--text-color);
  max-width: 60rem;
}

.home-content h1 {
  font-size: 5rem;
}

.home-content h3 {
  font-size: 3.8rem;
  color: var(--main-color);
}

.home-content p {
  font-size: 1.8rem;
  line-height: 2;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  height: 5rem;
  margin-top: 5rem;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 17.5rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 1rem;
  font-size: 2.5rem;
  font-weight: 525;
  letter-spacing: 0.1rem;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s;
}

.btn-box a:nth-child(1) {
  color: var(--bg-color);
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box a:nth-child(1):hover {
  color: var(--main-color);
}

.btn-box a:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.4s;
}

.btn-box a:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 4rem;
  width: 18rem;
  height: 5rem;
}

.home-sci a {
  position: relative;
  height: 100%;
  width: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  font-size: 2em;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  transition: 0.4s;
  z-index: -1;
}

.home-sci a:hover::before {
  width: 100%;
}

.home img,
.home-imgHover {
  position: absolute;
  height: 90%;
  min-width: 70rem;
  min-height: 50rem;
  bottom: 0;
  right: 0;
  transition: 2.5s;
}

.home img {
  z-index: -1;
  transition: 2.5s;
}

.home-imgHover:hover img {
  opacity: 0.2;
}
/*End Home*/

/*Achievements*/
.achievements,
.skills,
.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
  min-height: auto;
}

/*Achievements feat Skills*/
.achievements .achievements-row,
.skills .skills-row {
  display: flex;
  flex-direction: row;
  gap: 15rem;
}

.achievements-row .achievements-column,
.skills-row .skills-column {
  flex: 1 1 40rem;
}

.achievements-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.achievements-column .achievements-box {
  border-left: 0.2rem solid var(--main-color);
}

.achievements-box .achievements-content {
  position: relative;
  padding-left: 2rem;
}

.achievements-content .content {
  position: relative;
  padding: 1.25rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.achievements-content .content::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--main-color);
  top: 0;
  left: 0;
  transform: translate(-3.2rem, -0.3rem);
}

.achievements-content .content::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.achievements-content .content:hover::after {
  width: 100%;
}

.achievements-content .content .year {
  color: var(--main-color);
  padding-bottom: 0.8rem;
  font-size: 1.25rem;
}

.achievements-content .content .year i {
  padding-right: 0.5rem;
}

.achievements-content .content h3 {
  font-size: 1.75rem;
}
/*End Achievements*/

/*Skills*/
.skills,
.contact {
  background: var(--second-bg-color);
}

.skills .heading {
  margin-top: 6.5rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.skills-column .skills-box {
  border: 0.2rem solid var(--main-color);
  border-radius: 0.5rem;
}

.skills-box .skills-content {
  position: relative;
}

.skills-content .progress {
  position: relative;
  padding: 1.25rem;
  margin-bottom: 1rem;
}

.progress h3 {
  padding-bottom: 0.8rem;
  font-size: 1.75rem;
  display: flex;
  justify-content: space-between;
}
.progress span {
  font-size: large;
}

.progress .bar {
  position: relative;
  width: 50rem;
  height: 3rem;
  border: 0.3rem solid var(--main-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.progress .bar span {
  position: relative;
  display: flex;
  height: 100%;
  background: var(--main-color);
  border-radius: 0.3rem;
}

#C span {
  width: 70%;
}

#Java span {
  width: 60%;
}

#HTML span {
  width: 75%;
}

#CSS span {
  width: 50%;
}

#IELTS span {
  width: calc((7 / 9) * 100%);
}

#Problem-solving span {
  width: 80%;
}

#Time-management span {
  width: 75%;
}

#Teamwork span {
  width: 70%;
}
/*End Skills*/

/*Contact*/
.contact {
  min-height: auto;
  padding-bottom: 0;
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  margin: 10px 0;
  font-size: 1.2em;
}

.contact-info ul li i {
  margin-right: 10px;
  color: #dae8e7;
}

.contact-info ul li a {
  color: #007bff;
  text-decoration: none;
}

.contact-info ul li a:hover {
  text-decoration: underline;
}

.contact-ic {
  /* display: flex; */
  font-size: 2.5rem;
  /* flex-direction: column;
	justify-content: center;
	align-items: center; */
}

#contact-face {
  object-fit: contain;
  position: absolute;
  width: 320px;
  text-decoration: #dae8e7;
}

/********** Responsive for Contact **********/
/********** X-Small & Small devices only **********/
@media (max-width: 767px) {
  .contact .heading {
    margin-top: 3.5rem;
  }
  .contact form .input-box .input-field {
    width: 100%;
  }
  .contact form .textarea-field textarea {
    max-height: 15rem;
  }
}
/*End Contact*/

/*Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 10%;
}

.footer-text :is(p, div) {
  font-size: 1.5rem;
  white-space: pre-line;
}

.footer-iconUp a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.footer-iconUp a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconUp a:hover::before {
  width: 100%;
}

.footer-iconUp a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: 0.5s;
}

.footer-iconUp a:hover i {
  color: var(--main-color);
}

#me {
  object-fit: contain;
  position: relative;
  right: 100px;
}

.my-skill {
}

/*End Footer*/

/********** Large & Extra Large devices only **********/
@media (min-width: 992px) {
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** X-Small & Small devices only **********/
@media (max-width: 767px) {
}
